/*------alt_style.css -> general rules------*/

body.large .container
{
    max-width: 100%;
}

body.large, body.large table, body.large p, body.large ul
{
    font-size: 2.5rem !important;
    line-height: 6rem !important;
}

/*body.large .navbar a
{
    font-size: 2rem !important;
}*/

/*body.large header h1
{
    font-size: 8rem !important;
    min-width: 100% !important;
}*/

body.large h2, body.large #form legend,  body.large h3, body.large #form .btn
{
    font-size: 3rem !important;
    margin: 2.5rem 0 2.5rem 0 !important;
}

body.large p, body.large ul 
{
    text-align: left !important;
}

body.large footer h3
{
    text-align: left !important;
}

body.large .col-md-6,
body.large .col-md-3,
body.large .col-md-9,
body.large .col-lg-3
{
    flex: 100% !important;
}

body.large .service
{
    display: grid;
    border: none;
}

body.large .service img
{
    display: block;
    justify-self: center;
    max-width: 75% !important;
}

body.large input[type="radio"], body.large input[type="checkbox"]
{
    border: 0px;
    width: 5%;
    height: .7em;
}

body.large .maps
{
    min-height: 600px;
}